[opener]
edit = [
    {run = 'nvim "$@"', block = true},
    {run = '/home/jan/app/webstorm/bin/webstorm "$@"', block = false},
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
